p{
    font-size: 30px;
}
h1{
    color: rgb(20, 77, 151);
    text-align: center;
}
.imagens{
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: stretch;
}
.sangue{
    height: 200px;
    width: 200px;
    display:flex;
    justify-content: center;
    margin: 0 auto;
}

